/* students */
@media(max-width: 1263px){
    .students__content{
        flex-direction: column;
    }
    .students__content-left{
        width: 100%;
        border-radius: 24px 24px 0 0;
    }
    .students__content-right img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}
@media(max-width: 837px){
    .students__content-left{
        padding: 50px 20px;
    }
    .students__content-left h2{
        font-size: 32px;
        line-height: 40px;
    }
}
@media(max-width: 539px){
    .students__content-left h2{
        font-size: 20px;
        line-height: 29px;
    }
    .students__content-left p{
        font-size: 12px;
        line-height: 20px;
    }
}


/* coding */
@media(max-width: 1252px){
    .coding{
        flex-direction: column;
    }
    .coding__left{
        margin-top: 0;
    }
    .coding__right-img{
        display: block;
        margin: 0 auto;
    }
    .coding__right-scope{
      display: none;
    }
} 

/* courses */
@media(max-width: 1155px){
    .courses{
        margin-top: 50px;
    }
    .courses__top{
        flex-direction: column-reverse;
    }
    .courses__top-img img{
        display: block;
        margin: 0 auto;
        width: 95%;
    }
    .courses__top-info{
        padding: 137px 0;
    }
}
/* info */
@media(max-width:850px){
    .info__content{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .info__content-block{
        width: 100%;
        margin-bottom: 40px;
    } 
}




/* No-code Education Platform */
@media(max-width: 750px){
    .platform__content-title{
        font-size: 24px;
    }
    .platform__content-text{
        font-size: 12px;
        margin-top: 10px;
    }
}

/* courses */
@media(max-width: 605px){
    .courses__top-info h3{
        font-size: 30px;
        line-height: 40px;
    }
    .courses__top-info{
        padding: 50px 0;
    }
    .courses__top-info p {
        font-size: 14px;
    }
}



/* swiper1 */

@media(max-width: 655px) {
    .tranding-title{
        font-size: 30px;
        line-height: 40px;
    }
    .tranding-text{
        font-size: 12px;
        margin-top: 15px;
        line-height: 20px;
    }
}
@media(max-width: 421px){
    .tranding-title{
        font-size: 24px;
        line-height: 40px;
    }
}


@media (max-width: 768px) {
    .tranding{
        padding-right: 0px;
    }
}

@media(max-width: 548px){
    .tranding .swiper1 .swiper-slide img{
        width: 50%;
    }
    .tranding .swiper1 .swiper-slide{
        min-height: 390px;
    }
}
@media(max-width: 481px){
    .tranding .swiper1 .swiper-slide img{
        width: 39%;
    }
    .tranding .swiper1 .swiper-slide h4{
        font-size: 18px;
    }
    .tranding .swiper1 .swiper-slide p{
        font-size: 14px;
    }
    .tranding .swiper1 .swiper-slide a{
        font-size: 12px;
        padding: 9px 15px;
    }
}




@media(max-width: 402px){
    .platform__content-title{
        font-size: 20px;
    }
    .platform__content-text{
        font-size: 10px;
        
    }
    .platform__content{
        padding: 20px 5px;
    }
}


@media(max-width: 400px){
    .courses__top-info h3{
        font-size: 24px;
        line-height: 30px;
    }
    .courses__top-info{
        padding: 50px 0;
    }
    .courses__top-info p {
        font-size: 14px;
    }
}



/* header burger menu */





@media(max-width: 665px){
    .header{
        padding: 20px 0px;
    }
    .header .burger{
        display: block;
    }
    .header__nav {
       margin: 0;
    }
    .header__nav ul{
        position: absolute;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        top: 82px;
        height: 100vh;
        background: #00353B;
        left: -100%;
    }
    .header__nav ul.active{
        left: 0;
        overflow: scroll;
    }
    .burger.active span:nth-child(2){
        opacity: 0;
    }
    .burger.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
}
}
/* coding */
@media(max-width: 661px){
    .coding__right-img{
        width: 90%;
    }
}

/* заголовки и текста блока кодинг */
@media(max-width:658px){
    .coding__left-title{
        font-size: 36px;
        line-height: 40px;
    }
    .coding__left-text{
        font-size: 12px;
        line-height: 20px;
    }
    .coding__left-btn button{
        font-size: 13px;
    }
    .coding__left-btn button:hover{
        padding: 13px 25px;
    }
}

/* swiper2 */
@media(max-width: 600px){
    .reviews__content h3{
        font-size: 30px;
    }
    .reviews__content p{
        font-size: 12px;
        line-height: 20px;
    }
    .reviews__content .swiper2 .swiper-wrapper .swiper-slide p{
        font-size: 14px;
        line-height: 17px;
    }
}
@media(max-width: 397px){
    .reviews__content h3{
        font-size: 22px;
    }
}


/* swiper 3 */
@media(max-width: 564px){
    .latest__text h3{
        font-size: 24px;
        line-height: 25px;
    }
    .latest .swiper3 .swiper-wrapper .swiper-slide .swiper-text h4{
        font-size: 18px;
        line-height: 24px;
    }
    .latest .swiper3 .swiper-wrapper .swiper-slide{
        min-height: 300px;
    }
    .latest .swiper3 .swiper-wrapper .swiper-slide .swiper-text p{
        font-size: 12px;
        line-height: 20px;
    }
}

/* learning */
@media(max-width: 538px){
    .learning h3{
        font-size: 24px;
    }
    .learning p {
        font-size: 12px;
    }
}